.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
.envrc
.idea
.vscode
*~
/logs
/data
dist/
.~*
node_modules
venv
.venv
__pycache__
!.gitignore


db.sqlite3

# Compiled translations
*.mo

src/django_otp_webauthn/static/*
sandbox/collected_static/*
