name: Build Documentation

on:
  push:
    paths:
      - "docs/**" # Only trigger when files in docs folder change
    branches:
      - "**"
  pull_request:
    paths:
      - "docs/**" # Only trigger when files in docs folder change
    branches:
      - "**"

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
          cache: "pip"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          pip install -e '.[docs]'

      - name: Build Documentation
        working-directory: ./docs
        run: |
          make html

      - name: Upload documentation artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sphinx-docs
          path: docs/_build/html/
          retention-days: 7
