name: Playwright Tests
on:
  workflow_call:
  workflow_dispatch:

env:
  FORCE_COLOR: "1" # Make tools pretty.
  PIP_DISABLE_PIP_VERSION_CHECK: "1"

jobs:
  playwright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"
      - uses: actions/setup-node@v5
        with:
          node-version-file: ".nvmrc"
      - name: Install additional system packages
        run: |
          sudo apt-get update -y
          # Need `gettext` to compile translations
          sudo apt-get install gettext
      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile
      - name: Compile JavaScript
        run: |
          yarn build
      - name: Install dependencies
        run: |
          python -m pip install .[testing,playwright]
      - name: Compile translations
        run: /bin/sh ./scripts/compile_translations.sh
      - name: Run E2E tests
        run: |
          /bin/sh ./scripts/run_e2e_testsuite.sh
      - name: Upload Playwright traces
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-traces
          path: test-results/
          retention-days: 3
